<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
<meta charset="utf-8">
<title>Administradora Figueira Bienes Raices</title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- #CSS Links -->
<!-- Basic Styles -->
<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">
<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.min.css">
<!-- SmartAdmin RTL Support is under construction
This RTL CSS will be released in version 1.5
<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> -->
<!-- We recommend you use "your_style.css" to override SmartAdmin
specific styles this will also ensure you retrain your customization with each SmartAdmin update.
<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
<link rel="stylesheet" type="text/css" media="screen" href="css/demo.min.css">
<!-- #FAVICONS -->
<link rel="icon" href="images/favicon/favicon.png" type="image/png">
<!-- #GOOGLE FONT -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
<!-- #APP SCREEN / ICONS -->
<!-- Specifying a Webpage Icon for Web Clip 
Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
<link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">
<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- Startup image for web apps -->
<link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
<link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
<link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">
</head>
<body class="animated fadeInDown">
<header id="header">
<div id="logo-group">
<h1 class="txt-color-white login-header-big" style="margin-top: 20px;">{{ constant('NOMBRE_APLICACION')}}</h1>
</div>
        <span id="extr-page-header-space"><a class="btn btn-info" href="{{ constant('ROOT') }}">www.condominios-avalor.com.ve</a> </span>
</header>
<div id="main" role="main">
<!-- MAIN CONTENT -->
<div id="content" class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
<div class="hero" style="text-align: center;">
<h1><img src="{{ constant("ROOT") }}images/logo.png"></h1>
</div>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<h5 class="about-heading">Aparece código de usuario no registrado?</h5>
<p>Envíenos el documento de propiedad para registrar en nuestros sistemas el número de cédula del propietario, ese será su código de usuario. Intente acceder nuevamente al siguiente día.</p>
<p>Si usted debe más de ({{constant('MESES_COBRANZA')}}) recibos de condominio tampoco tendrá acceso al servicio de Condominio en línea.
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<h5 class="about-heading">Problemas con la página web?</h5>
<p>
Estimado propietario, si tiene algún problema de con esta página, si tiene alguna duda o simplemente enviarnos sus comentarios sobre su experiencia de navegación no dude en escribirnos a info@administradora-figueira.com.ve
</p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
{% if mensaje.error is defined %}
    <div class="alert alert-{{resultado.suceed == true? 'success':'warning' }} fade in">
    <button data-dismiss="alert" class="close">
    ×
    </button>
    <i class="fa-fw fa fa-{{resultado.suceed == true? 'check':'warning' }}"></i>
    <strong>{{resultado.suceed == true? 'Muy Bien!':'Ups! Atención:' }}</strong> {{ mensaje.error|capitalize|nl2br }}.
    {% if constant('DEBUG')%}
    <pre>
    {{ dump(mensaje)}}
    </pre>
    {%endif %}
    </div>
{% endif %}
<div class="well no-padding">
<form action="login.php" id="login-form" class="smart-form client-form" method="post">
<header style="color: #a90329; font-weight: 400">Acceso Área de Propietarios</header>
<fieldset>
<section>
    <label class="label">Usuario</label>
    <label class="input"> <i class="icon-append fa fa-user"></i>
            <input type="text" name="cedula" value="{{ cedula }}">
            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Ingrese el número de cédula de identidad de propietario</b></label>
</section>

<section>
    <label class="label">Clave</label>
    <label class="input"> <i class="icon-append fa fa-lock"></i>
            <input type="password" name="password" value="{{ password }}">
            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Ingrese su clave de acceso</b> </label>
    <!--div class="note">
            <a href="forgotpassword.html">Olvidó su clave de acceso?</a>
    </div-->
</section>

<section>
    <!--a href="#">Ver DEMO</a-->
</section>
</fieldset>
<footer>
    <button type="submit" class="btn btn-primary" name="submit">
            Entrar
    </button>
</footer>
</form>

</div>
<ul class="list-inline text-center">
<li>
    <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
</li>
<li>
    <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
</li>
<li>
    <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
</li>
</ul>
</div>
</div>
</div>
</div>
<!--================================================== -->	
<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script src="js/plugin/pace/pace.min.js"></script>
<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script> if (!window.jQuery) { document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');} </script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script> if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>
<!-- IMPORTANT: APP CONFIG -->
<script src="js/app.config.js"></script>
<!-- JS TOUCH : include this plugin for mobile drag / drop touch events 		
<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
<!-- BOOTSTRAP JS -->		
<script src="js/bootstrap.min.js"></script>
<!-- JQUERY VALIDATE -->
<script src="js/jquery-validate/jquery.validate.min.js"></script>
<!-- JQUERY MASKED INPUT -->
<script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>
<!--[if IE 8]>
<h1>Esta usando un navegador antíguo, para actualizarlo ingrese a www.microsoft.com/download</h1>
<![endif]-->
<!-- MAIN APP JS FILE -->
<script src="js/app.min.js"></script>
<script type="text/javascript">
runAllForms();
$(function() {
// Validation
$("#login-form").validate({
// Rules for form validation
rules : {
cedula : {
required : true,
number   : true
},
password : {
required : true,
minlength : 4,
maxlength : 20
}
},

// Messages for form validation
messages : {
cedula : {
required : 'Ingrese código de usuario',
number   : 'Escríba solo caracteres numéricos'
},
password : {
required : 'Ingrese su clave de acceso'
}
},
// Do not change code below
errorPlacement : function(error, element) {
error.insertAfter(element.parent());
}
});
});
</script>
</body>
</html>